beautifulsoup4==4.6.3
certifi==2018.10.15
chardet==3.0.4
DistributedLock==1.2
Django==1.9.8
django-annoying==0.10.4
django-picklefield==1.1.0
django-social-api==0.1.1
django-vkontakte-api==0.8.7
django-vkontakte-places==0.7.1
django-vkontakte-users==0.8.7
idna==2.7
oauthlib==2.1.0
pkg-resources==0.0.0
PyJWT==1.6.4
python-dateutil==1.5
python-memcached==1.59
python-openid==2.2.5
pytz==2018.5
requests==2.20.0
requests-oauthlib==1.0.0
simplejson==3.16.0
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.7.0
urllib3==1.26.5
vk==2.0.2
vkontakte==1.3.5
